{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "standard"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unsafe-assignment": 0,
    "@typescript-eslint/no-unsafe-member-access": 0,
    "@typescript-eslint/no-unsafe-return": 0,
    "@typescript-eslint/no-unsafe-call": 0,
    "@typescript-eslint/no-floating-promises": 0,
    "@typescript-eslint/restrict-template-expressions": 0,
    "array-bracket-spacing": [
      1,
      "always"
    ],
    "arrow-parens": [
      1,
      "always"
    ],
    "no-unused-vars": 0,
    "padded-blocks": [
      1,
      "never",
      {
        "allowSingleLineBlocks": true
      }
    ],
    "padding-line-between-statements": [
      1,
      {
        "blankLine": "always",
        "next": "*",
        "prev": "import"
      },
      {
        "blankLine": "never",
        "next": "import",
        "prev": "import"
      },
      {
        "blankLine": "always",
        "next": "export",
        "prev": "*"
      },
      {
        "blankLine": "any",
        "next": "export",
        "prev": "export"
      },
      {
        "blankLine": "always",
        "next": [
          "multiline-const",
          "multiline-let",
          "multiline-expression",
          "multiline-block-like"
        ],
        "prev": "*"
      }
    ],
    "prefer-const": 0
  }
}
