{
  "env": {
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/standard",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended"
  ],
  "overrides": [
    // {
    //   "env": {
    //     "browser": true,
    //     "es2021": true
    //   },
    //   "extends": ["plugin:react/recommended", "prettier/react"],
    //   "files": ["src/**/*.{ts,js,jsx,tsx}"],
    //   "rules": {
    //     "react/no-children-prop": "off",
    //     "react/prop-types": "off"
    //   }
    // },
    {
      "env": {
        "commonjs": true,
        "node": true
      },
      "extends": ["plugin:node/recommended"],
      "files": [
        "src/**/*.{ts,js,jsx,tsx}",
        "db/**/*.{ts,js,jsx,tsx}"
      ],
      "rules": {
        "node/no-unsupported-features/es-syntax": "off",
        "node/no-missing-import": "off"
      }
    },
    // {
    //   "extends": [
    //     "prettier/@typescript-eslint",
    //     "plugin:@typescript-eslint/recommended",
    //     "plugin:@typescript-eslint/recommended-requiring-type-checking"
    //   ],
    //   "files": ["{src,tests}/**/*.{ts,tsx}"],
    //   "rules": {
    //     // "@typescript-eslint/no-explicit-any": "on",
    //     // "@typescript-eslint/no-unsafe-assignment": "on",
    //     // "@typescript-eslint/no-unsafe-call": "on",
    //     // "@typescript-eslint/no-unsafe-member-access": "on",
    //     // "@typescript-eslint/no-unsafe-return": "on",
    //     "@typescript-eslint/no-unused-params": "off",
    //     "@typescript-eslint/no-unused-vars": "off",
    //     // "@typescript-eslint/restrict-template-expressions": "on"
    //   }
    // },
    {
      "env": {
        "jest": true,
        "node": true
      },
      "files": ["tests/**/*.{js,jsx,ts,tsx}"]
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "project": "tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "promise", "sonarjs", "prettier"],
  "rules": {
    "prefer-const": "error",
    "no-unused-params": "off",
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
